<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dados do Abastecimento </h2>
    Tipo: <%= abastecimento.tipoCombustivel %><br>
    Data: <%= abastecimento.data %><br>
    Hora: <%= abastecimento.hora %><br>
    Valor: <%= abastecimento.valor %><br><br>
</body>
</html>