<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
</head>
<body>
    <h2>Cadastro Abastecimento</h2>
    <form action="/salvar-abastecimento" method="post">
        <label for="combustivel">Tipo de Combustível:</label><br>
        <input type="text" name="combustivel" id="combustivel"><br><br>
        <label for="data">Data do Abastecimento:</label><br>
        <input type="text" name="data" id="data"><br><br>
        <label for="hora">Hora do Abastecimento:</label><br>
        <input type="text" name="hora" id="hora"><br><br>
        <label for="valor">Valor do Abastecimento:</label><br>
        <input type="number" name="valor" id="valor" step="0.1"><br><br>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
